target/
*.log
*.log.*
*.pid
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
devcon-scm-api/output/
devcon-scm-consumer/output/
*.diff
### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/

# logs
/logs
/output

.DS_Store
*/.DS_Store
**/.DS_Store
